{
	"printWidth": 80,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"tabWidth": 4,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
